<div class="wrap" rule>
	<img ng-src="{{url}}" class="final_img"/>
	<p class="text_filed">长按保存图片，分享给好友，即有机会赢得sunglass hut大礼包！</p>
	<div id="rule">活动规则</div>
	<p class="btn" id="share" text>分享</p>
	<div class="wrap_rule">
		<div class="close">
			<img src="file/close.png"/>
		</div>
		<div class="inner_wrap">
			<h3>抽奖条款与条件</h3>
			<p class="xzz">
				1、该活动起止时间为：2015年10月30日至2015年11月4日，截止日期后的任何参与抽奖行为将被视为无效。
			</p>
			<p class="xzz">
				2、抽奖面向在中国居住的所有人，参与者可在活动截止日前通过访问陆逊梯卡（上海）商贸有限公司“睛彩万圣节”活动页面参加抽奖。
			</p>
			<p class="xzz">
				3、获奖者必须提供陆逊梯卡（上海）商贸有限公司认可的证明（如驾照、身份证件或有效护照）以证明其合格获奖者身份。如无法证明，则陆逊梯卡（上海）商贸有限公司有权取消该获奖者资格。
			</p>
			<p class="xzz">
				4、每位参与者仅可获奖一次，如参与者已中奖，则再次参与抽奖无效。
			</p>
			<p class="xzz">
				5、奖品不可转售、兑换现金、积分或变更。如获奖者无法如期参加活动，将不获得返还现金或其他替代奖品。
			</p>
			<p class="xzz">
				6、奖品不包括路费、保险、可能产生的个人开销或任何额外费用。 
			</p>
			<p class="xzz">
				7、如奖品未被成功领取或兑换，陆逊梯卡（上海）商贸有限公司可另行处理该奖品。
			</p>
			<p class="xzz">
				8、陆逊梯卡（上海）商贸有限公司可使用获奖者的姓名、住址和肖像而无需支付额外费用或获得批准，并可由陆逊梯卡（上海）商贸有限公司或其任何关联方用于商业和广告目的。
			</p>
			<p class="xzz">
				9、如参与者在抽奖期间或之后有任何诽谤或攻击陆逊梯卡（上海）商贸有限公司的行为，陆逊梯卡（上海）商贸有限公司有权取消获奖者资格并对获奖者提起诉讼。
			</p>
			<p class="xzz">
				10、陆逊梯卡（上海）商贸有限公司可根据法律要求随时终止或变更本抽奖条款而无需另行通知，如因任何不可抗力导致抽奖活动无法按计划执行，则陆逊梯卡（上海）商贸有限公司有权终止或变更抽奖活动。
			</p>
			<p class="xzz">
				11、陆逊梯卡（上海）商贸有限公司不对超出其控制范围的任何意外事项承担责任。
			</p>
			<p class="xzz">
				12、本抽奖活动受中国法律管辖，本活动最终解释权归陆逊梯卡（上海）商贸有限公司。
			</p>
		</div>
	</div>
	<div class="share_wrap">
		<p>点击右上角，这么嗨皮当然要和朋友一起分享，能不能赢奖品，看你运气喽！</p>
	</div>
<!-- 	<p class="notice_info">*长按可保存图片，分享至好友圈，有机会获得sunglass hut大礼包一份。</p> -->
	<!-- <img class="logo" src="file/genal/logo.png"/> -->
</div>