<div class="wrap">
	<div class="back_wrap" backpp></div>
	<!-- <p id="toStep3" class="btn" text ng-click="next()">上传图片</p> -->
<!-- 	<form enctype="multipart/form-data" class="img_form" ng-show="{{show}}" name="form1" id="forr">
		<label for="user_img"  class="hhhh" fileup>上传自拍照</label>
		<input id="user_img" type="file" style="display: none" name="pic"/>
		<input type="hidden" value="o4cOIjiBKchlwnAAT5cjKVUkHNG8" name="openid" id="oi">
	</form> -->
	<p id="toStep3" class="btn" text anfile>上传自拍照</p>
	<!-- <img class="logo" src="file/genal/logo.png"/> -->
	<p class="notice_info notice_info2">*想要完美效果，建议在简单背景前拍摄哦。</p>
</div>