<div class="wrap" face>
	<div class="back_wrap" backpp></div>
	<div class="deal_pic" id="cc">
		<!-- <canvas id="cvs_face"></canvas> -->
	</div>
	<div class="st3_wrap st3_wrap_up">
		<div class="scale">
			<div class="scalep">
				<img src="file/Step3/s_p.png">
			</div>
			<div class="scalem">
				<img src="file/Step3/s_m.png">
			</div>
			<p class="n_text">放大或缩小</p>
		</div>
		<div class="swipe">
			<div class="swipes">
				<img src="file/Step3/swipes.png">
			</div>
			<div class="swipem">
				<img src="file/Step3/swipem.png">
			</div>
			<div class="swipel">
				<img src="file/Step3/swipel.png">
			</div>
			<p class="n_text">点击擦除头像背景</p>
		</div>
	</div>
	<div class="st3_wrap st3_wrap_down">
		<p class="btn" id="redo" text>撤销</p>
		<p class="btn" id="toStep4" text>下一步</p>
	</div>
	<!-- <img class="logo" src="file/genal/logo.png"/> -->
</div>