<div class="wrap" bcgd>
	<div class="back_wrap" backpp></div>
	<div class="formq">
		<p class="lucky">填写信息，离奖品更近一步！</p>
		<div id="success_info" text>提交成功!</div>
		<div id="failure_info" text>提交失败</div>
		<div class="formm">
			<p class="upin"><label class="inp">姓名</label><input type="text" id="na" name="name" ></p>
			<p class="downin"><label class="inp">手机号</label><input type="text" class="dss" id="tt" name="tel"></p>
		</div>
	</div>
	<p class="btn" id="sub" text sub>提交</p>
	<p class="btn" id="again" text ng-click="next()">再次蜕变</p>
	<!-- <img class="logo logo2" src="file/genal/logo.png"/> -->
</div>