<div class="wrap" style="background:#000">
	<div class="back_wrap" backpp></div>
	<!-- <img src="file/genal/mask.png" class="mask mask1"> -->
	<div class="model_wrap" id="container" cs></div>
	<div class="toLeft"><img src="file/genal/left.png"></div>
	<div class="toRight" ng-click="nextm()"><img src="file/genal/right.png"></div>
	<!-- <img src="file/genal/mask.png" class="mask mask2"> -->
	<div class="change_next">
		<!-- <div class="toLeft"><img src="file/genal/left.png"></div>
		<div class="toRight" ng-click="nextm()"><img src="file/genal/right.png"></div> -->
		<p class="c_text" text>{{text}}</p>
		<!-- <p></p> -->
	</div>
	<p class="btn" id="toStep5" text>下一步</p>
	<p class="notice_info" id="iff">{{notice}}</p>
	<!-- <img class="logo" src="file/genal/logo.png"/> -->
	<div class="hcing">
		<img src="file/genal/deng.png" class="load_img2"/>
	</div>
</div>